<!DOCTYPE html>
<html lang="en">
<head>
    <title>Categories</title>
    <%- include('../../admin/partials/head'); -%>
</head>
<body>
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Categories
        </div>
        <ul class="sidebar-navigation">
            <% categories.forEach( category => { %>
                <li>
                    <a href="/categories/<%= category.category_slug %>">
                        <i class="fa fa-users" aria-hidden="true"></i> <%= category.category_name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="content-container">
        <div class="container-fluid">
            <a type="button" class='btn btn-outline-primary text-capitalize float-right bg-success text-white' href='/posts/add'>Add Post</a> 
            <% posts.forEach((post) => { %>
                <div class="ml-5">
                    <a href="/categories/post/<%= post.post_slug %>/show"><%= post.post_title %></a>
                </div>
                <hr>
            <% }) %>
        </div>
    </div>
    <%- include('../../admin/partials/js'); -%>
</body>
</html>