<!DOCTYPE html>
<html lang="en">
<head>
    <title>View User</title>
    <%- include('../partials/head'); -%>
</head>
<body>
    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope='col'>id</th>
            <th scope='col'>Name</th>
            <th scope='col'>Email</th>
            <th scope='col'>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.address %></td>
          </tr>
        </tbody>
    </table>
    <%- include('../partials/js'); -%>
</body>
</html>